// Colors
$backgroundColor: #567caa;
$appcolor: #a4b3d8;
$app-color-2: #094074;
$accent-color-1: #70c1b3;
$accent-color-2: #b2dbbf;

// Spacing
$s-size: 1.2rem;
$m-size: 1.8rem;
$l-size: 3rem;
$xl-size: 4.8rem;
